# web Radio remote control systemd script
# $Id: web_remote.service $

# It uses web_remote.py (Daemon) 
# This file is copied to /lib/systemd/system/web_remote.service 

[Unit]
Description=web Radio remote control daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/share/radio/web_remote.py nodaemon
ExecStop=/usr/share/radio/web_remote.py stop

[Install]
WantedBy=multi-user.target
